label{
  float: left;
}
textarea
{
  display: inline;
}
button{
  float: right;
}

.FieldActive
{
  color: red;
  margin: 5px;
}

#submit-button {
  width: 150px;
  height: 50px;
}

.input-group-text {
  width: 110px;
}

.textarea {
  height: 100%;
}