<!-- <div class="row col-md-12 top-buffer justify-content-center"> -->
<h3 class="col-md-12 top-buffer left-buffer"> Comments Section: </h3>

<form class="row col-md-12 bottom-buffer" [formGroup]="FormComments" (submit)="onSubmit(true)">
  <div class="row offset-md-1 col-md-7 top-buffer">
    <div class="row col-md-12 top-buffer input-group align-items-center">
      <div class="input-group-prepend">
        <label class="input-group-text"> Reporter: </label>
      </div>
      <select class="custom-select form-control col-md-6" formControlName="reporter">
        <option *ngFor="let reporter of reporters">{{reporter}}</option>
      </select>
      <div *ngIf="FormComments.get('reporter').errors?.required && FormComments.get('reporter').dirty"
        class="FieldActive">
        <div><b>Field is required!</b></div>
      </div>
    </div>

    <div class="row col-md-12 top-buffer bottom-buffer input-group align-items-center">
      <!-- <label class="col-md-3"> Description: </label> -->
      <div class="textarea input-group-prepend">
        <label class="input-group-text"> Description: </label>
      </div>
      <textarea class="textarea form-control col-md-6" rows="2" formControlName="description"
        aria-label="description"></textarea>
      <div *ngIf="FormComments.get('description').errors?.required && FormComments.get('description').dirty"
        class="FieldActive align-items-center">
        <div><b>Field is required!</b></div>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <button type="submit" class="btn btn-outline-primary my-button" id="submit-button">Add Comment</button>
  </div>
</form>

<codehub-bugs-display-comments [comments]="comments" class="top-buffer"></codehub-bugs-display-comments>
<!-- </div> -->
