<div class="row col-sm-12">

  <div class="row col-sm-5 justify-content-center">
    <h3> Bug: </h3>
    <codehub-bug-form class="row col-sm-12 justify-content-center" [bug]="bug"></codehub-bug-form>

    <div class="row col-sm-10 justify-content-center top-buffer bottom-buffer">
      <button class="col-sm-3 btn btn-outline-primary my-button" (click)="update()"> Save Me </button>
      <button class="col-sm-3 btn btn-outline-secondary my-button" (click)="goBack()"> Go Back </button>
    </div>
  </div>

  <div class="row col-sm-7 justify-content-center">
    <codehub-bugs-comments class="row col-sm-12 justify-content-center" [FormIsValid]="IsValid"
      (FormIsValidChanged)="formValidChangedHandler($event)">
    </codehub-bugs-comments>
  </div>

</div>