<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <img id="app-logo" class="icon" src="assets/images/app-logo.png" [routerLink]="['/']">
  <!-- <a class="navbar-brand left-margin" [routerLink]="['/']">Home</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active left-margin">
        <a class="nav-link" [routerLink]="['/bugs-search']"> Search for Bugs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active left-margin">
        <a class="nav-link" [routerLink]="['/bug-create']"> Create your own Bug <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
