<div class="row col-sm-12 justify-content-center">

  <div class="row col-sm-5 justify-content-center">
    <codehub-bug-form class="row justify-content-center"></codehub-bug-form>
  </div>

  <div class="row col-sm-12 justify-content-center top-buffer bottom-buffer">
    <button class="col-sm-1 btn btn-outline-primary my-button" style="width: 200px;" (click)="create()">Save Me
    </button>
    <button class="col-sm-1 btn btn-outline-secondary my-button" (click)="goBack()">Go Back </button>
  </div>
</div>