<table id="bugsdt" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th (click)="sortColumn('id')">id</th>
      <th (click)="sortColumn('description')">description</th>
      <th (click)="sortColumn('priority')">priority</th>
      <th (click)="sortColumn('reporter')">reporter</th>
      <th (click)="sortColumn('updatedAt')">updated at</th>
      <th (click)="sortColumn('createdAt')">created at</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{bug.id}}</td>
      <td>{{bug.description}}</td>
      <td>{{bug.priority}}</td>
      <td>{{bug.reporter}}</td>
      <td>{{bug.updatedAt}}</td>
      <td>{{bug.createdAt}}</td>
      <td>
        <img id="edit-icon" class="icon" src="assets/images/edit-icon.png" [routerLink]="['/bug-edit', bug.id]">
      </td>
      <td>
        <img id="delete-icon" class="icon" src="assets/images/delete-icon.png" (click)="delete(bug.id)">
      </td>
    </tr>
  </tbody>

  <tfoot>

  </tfoot>
</table>
