/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";

.container {
  margin: 15px;
}

.top-buffer {
  margin-top: 10px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.left-buffer {
  margin-left: 10px;
}

.my-button {
  margin: 7px;
}

.input-group-prepend .input-group-text{
  background-color: #85b3b3;
  color: #000;
  opacity: 90%;
  font-weight: 620;
}

.my-spinner {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 43%;
  z-index: 1;
  width: 10rem;
  height: 10rem;
  vertical-align: text-bottom;
  border: 1.5em solid rgb(107, 64, 71);
  border-right-color: currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}
