/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";

.container {
  margin: 15px;
}

.top-buffer {
  margin-top: 10px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.left-buffer {
  margin-left: 10px;
}

.my-button {
  margin: 7px;
}

.input-group-prepend .input-group-text{
  background-color: #85b3b3;
  color: #000;
  opacity: 90%;
  font-weight: 620;
}
